.trips-form {
  padding: 50px;
  background-color: #00000092;
  color: rgb(255, 255, 255);
}

.trips-form > label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}

.trips-form__controls {
  margin-top: 20px;
}

.trips-form__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.trips-form select {
  text-transform: capitalize;
}

.trips-form__submit-button {
  background-color: rgb(67, 67, 195);
  color: #ffffff;
}